page-chat {
  .chat {
    background-color: rgba(3, 2, 32, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.808);
    
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
    color: white;
  }
  .message-body{
    max-height:90% ; overflow: visible;
  }
  .message-box{
    min-width:100%
  }
  .input-message{
    background-color:white; width: 80%
  }
}
