page-home {
   
    .pulsating-circle {
        position: absolute;
        left: 50%;
       
        transform: translateX(-50%) translateY(-50%);
        width: 90px;
        height: 90px;
        
        &:before {
          content: '';
          position: relative;
          display: block;
          width: 300%;
          height: 300%;
          box-sizing: border-box;
          margin-left: -100%;
          margin-top: -100%;
          border-radius: 135px;
          background-color: white;
          animation: pulse-ring 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        }
        
        &:after {
          content: '';
          position: absolute;
          left: 0; 
          top: 0;
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgb(189, 72, 18);
          border-radius: 45px;
          box-shadow: 0 0 8px rgba(0,0,0,.3);
          animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
        }
      }
      
      @keyframes pulse-ring {
        0% {
          transform: scale(.33);
        }
        80%, 100% {
          opacity: 0;
        }
      }
      
      @keyframes pulse-dot {
        0% {
          transform: scale(.8);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(.8);
        }
      }
      h3{
        font-family:My Cursive; font-size:100px
      }
      .row{
        height:50px
      }
      .icon-div{
        height:100%;
        width: 20%
      }
      .icon{
        margin-left:20%; 
        font-size:50px
      }
      .text-div{
        height:100%; background-color:white; width: 20%
      }
      .text{
        color:black; top:50%; font-family: Avatarock
      }
}
